body {
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.order-button {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.order-button:hover {
    transform: scale(1.05);
}