body {
    margin: 0;
    font-family: sans-serif;
  scroll-behavior: smooth;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #f9f9f9;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header-nav a{
    margin: 0 15px;
  text-decoration: none;
    color: black;

}

.header-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.hero-section {
    background-color: #f9f9f9;
    padding: 60px 0;
    background-image: url('./assets/background1.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    position: relative;
    background-attachment: fixed;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.hero-left {
    width: 50%;
    padding-right: 10px;
}

.hero-left h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-right {
    width: 40%;
    min-width: 250px;
}

.tariff-section {
    padding: 40px 0;
}

.tariff-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tariff-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eee;
    text-align: center;
    width: 30%;
    min-width: 200px;
}

.tariff-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.about-section {
    display: flex;
    align-items: center;
    position: relative;
    padding: 40px 0;
    background-color: black;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.about-left {
    width: 40%;
    color: white;
    padding: 20px;
    min-width: 250px;
}

.about-right {
    width: 30%;
    min-width: 200px;
}

.about-left h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.about-image {
    object-fit: cover;
    width: 50%;
    opacity: 0.8;
    height: auto;
}

.review-section {
    position: relative;
    padding: 40px 0;
    background-color: #f9f9f9;
    background-image: url('./assets/background2.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.review-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
}

.review-container {
    position: relative;
    z-index: 1;
}

.review-section h2 {
    text-align: center;
}
.reviews-section .review-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.reviews-section .review-card {
    text-align: left;
    margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 20px;
  background-color: white;
  width: 30%;
    min-width: 250px;

  transition: all 0.3s ease;
  opacity: 0.6;
}

.reviews-section .review-card.active {
    opacity: 1;
}
.reviews-section .review-text {
    font-size: 1.2em;
}

.reviews-section .review-author {
  font-weight: bold;
  margin-top: 10px;
}
.reviews-section .review-position{
  color: #777;
}


.work-steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.work-step {
    text-align: center;
    width: 20%;
    min-width: 150px;
}

.work-step .step-icon {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.review-image {
  object-fit: cover;
  width: 100%;
  position: static;
  height: auto;
}

.footer {
    background-color: #f9f9f9;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-form {
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
    text-align: left;
    width: 110%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    z-index: 2;
}

.hero-right .order-form {
    width: 120%;
}

.order-form h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
}

.order-form input,
.order-form textarea {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.order-form input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}

.order-form .checkbox-label {
    display: flex;
    align-items: center;
}

.order-form button {
    background-color: #ffc107;
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 4px;
}

.order-button {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.order-button:hover {
    transform: scale(1.05);
}

.rotating-text-container {
    overflow: hidden;
    position: relative;
    height: 40px;
    margin-bottom: 30px;
    background-color: #ffc107;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.rotating-text {
    position: absolute;
    white-space: nowrap;
    animation: rotateText 15s linear infinite;
    color: black;
}

@keyframes rotateText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.tariff-section::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-top: 20px;
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {

  .container {
    width: 95%;
  }


  .hero-left {
    width: 100%;
  }

  .hero-right {
    width: 100%;
  }
    .tariff-container {
      flex-direction: column;
      gap: 10px;
    }
  .tariff-card{
    width: 100%;
      min-width: auto;
  }
    .about-container {
        flex-direction: column;
    }
    .about-left {
        width: 100%;
      min-width: auto;
    }
    .about-right {
        width: 100%;
      min-width: auto;

    }
    .about-image{
      width: 100%;
    }
    .order-form{
      width: 100%;

    }
  .hero-right .order-form {
    width: 100%;
  }
   .work-steps {
     flex-direction: column;
   }
    .work-step {
        width: 100%;
    }
   .review-image{
    width: 100%;
    position: static;
    height: auto;
  }

  .footer-container {
    flex-direction: column;
      gap: 10px;
    text-align: center;
  }
    .rotating-text-container{
        margin-bottom: 10px;
    }

  .reviews-section .review-image{
      width: 100%;
      position: static;
      height: auto;
    }
  .registration-form .form-group{
    margin-bottom: 10px;
  }


}